* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8176;
    background-image: linear-gradient(to top, #ff8176 0%, #ff3e6c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style:none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: auto;
    margin-left: 10px;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 16px;
    height: 100%;
    width: auto;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff8176;
    color: #fff;
}

.button:hover {
    background: #9143ff;
    transform: scale(1.03);
}

.navbar__links:hover{
    color: #ff7062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: auto;
        z-index: -1;
        background: #131313;
        padding-bottom: 20px;
    }

    .navbar__menu.active {
        border-top: 1px solid #222;
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: auto;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width:25px;
        height: 3px;
        margin: 5px auto;
        background: #fff;
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20px;
        right: 5px;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding: 10px 0;
        width: 100%;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        margin: 0;
        padding: 12px;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

     #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

     #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}


 body{
        background: linear-gradient(to right, #ff9a9e, #fecaef);
    }

    .auth-container {
        margin: 80px auto;
        padding: 40px;
        width: 320px;
        background: white;
        color: #333;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }

    .auth-title {
        margin-bottom: 20px;
    }

    .auth-form input {
        width: 100%;
        padding: 12px;
        margin: 12px 0;
        border: 2px solid #eee;
        border-radius: 6px;
        background: #f9f9f9;
        font-size: 14px;
        transition: 0.3s;
    }

    .auth-button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background: #ff8176;
        color: black;
        cursor: pointer;
        transition: 0.3s;
    }

    .auth-button:hover {
        background: #ff3e6c;
        transform: scale(1.03);
    }

    .auth-link {
        margin-top:10px;
        background: none;
        border: none;
        color: #ff8176;
        cursor: pointer;
    }

    h2 {
        text-align: center;
        padding-top: 20px;
        padding: 20px
    }

    h3 {
        padding: 5px;
    }

    .summary{
        padding: 30px;
    }

